.square {
    -fx-border-style: solid;
}

.square:hover {
    -fx-background-color: lightgray;
}

.selected {
    -fx-background-color: lightgray;
}

.selectable {
    -fx-border-color: lime;
    -fx-border-width: 3;
}

/*.square + .square:hover {
    -fx-background-color: lightgray;
}*/